@tailwind base;
@tailwind components;
@tailwind utilities;

/*apply directives are not recommended*/

body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
